<html>
<head>
<title>Attendance System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="scripts/controller.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!--INCLUDING FOR NG-table TABLES-->
    <link rel="stylesheet"; href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.js"></script>




    <link href="css/myCss.css" rel="stylesheet"><!--custom style sheet-->

    <!--USING JQUERY UI -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>





<script>
  $( function() {
    $( "#dialog-error" ).dialog({
      autoOpen:false,
      resizable: false,
      height: "auto",
      width: 400,
      modal: true,
      buttons: {
        OK: function() {
          $( this ).dialog( "close" );
        }
      }
    });
  } );

  $( function() {
    $( "#dialog-success" ).dialog({
      autoOpen:false,
      resizable: false,
      height: "auto",
      width: 400,
      modal: true,
      buttons: {
        OK: function() {
          $( this ).dialog( "close" );
        }
      }
    });
  } );



  //Function to check regex of input text
/*$('#studentSearch').keypress(function (e) {
    var regex = new RegExp("^[a-zA-Z0-9]+$");
    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
    if (regex.test(str)) {
        return true;
    }

    e.preventDefault();
    return false;
});*/
//--end function to check input


 function checkInputAlphaNumeric(e){
 	var regex = new RegExp("^[a-zA-Z0-9]+$");
    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
    if (regex.test(str)) {
        return true;
    }

    e.preventDefault();
    return false;
 }


  </script>










</head>


<body ng-app="myApp" ng-controller="DashboardCtrl">



<div class="container"><!---Start of the container---->




  <div class="jumbotron">
    <h1 align="center">Igniter Space</h1> 
    <p align="center">Student Attendance System</p> 
  </div>



	<!--error message box-->
	<div id="dialog-error" >
	  <p><span class="glyphicon glyphicon-alert" style="float:left; margin:12px 12px 20px 0; color:red; font-size: 1.7em"></span>{{errorMessage}}</p>
	</div>
	<!---->

	<!--success message box-->
	<div id="dialog-success">
		<p><span class="glyphicon glyphicon-ok" style="float:left; margin:12px 12px 20px 0; color:green; font-size: 1.7em"></span>{{successMessage}}</p>
	</div>
	<!---->

	<!--payment Details box-->





	<div ng-hide="results" class="col-md-10 content" ng-hide="loading">
		<h3>Enter Student ID</h3>
		<input  class="form-control" ng-model="student_id" type="text" placeholder="e.g. A1234"  id="studentSearch"   onkeypress="checkInputAlphaNumeric(event)" >
		<br/>
		<button ng-click="getStudentByID(student_id)" class="btn btn-success btn-lg btn-outline btn-rounded">Search</button>
	</div>




	<br/>
	<div ng-show="results" class="content">
		<button ng-click="results=false;student_id=null" class="btn btn-danger btn-lg btn-outline btn-rounded">Back</button>
		<br/>
		<table border="1" id="studentDetails" class="display">
			<thead>
				<tr>
					<th>Registration Number</th>
					<th>Name</th>
					<th>Batch</th>
					<th>Age</th>
					<th>Age Group</th>
					<th>Parents Name</th>
					<th>E-mail</th>
					<th>Phone</th>
					<th>QR Code</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{reg_no}}</td>
					<td>{{name}}</td>
					<td>{{batch}}</td>
					<td>{{age}}</td>
					<td>{{age_group}}</td>
					<td>{{parents_name}}</td>
					<td>{{email}}</td>
					<td>{{phone}}</td>
					<td>{{qr_code}}</td>
				</tr>
			</tbody>
		</table>






                            
		<!-------------------------------------For the calculation and display of monthly payment-->

        <h3>Payment Details</h3>

        <table>
	        <tr>
	        	<td>
	        		<button ng-show="registration"  class="btn btn-success btn-lg btn-outline btn-rounded" ng-click="openPaymentForm(0)">Registration<span class="glyphicon glyphicon-ok" style="float:right; margin-left: 2px; color:white; font-size: 0.3em"></span></button> <!--payment done-->
	        		<button ng-hide="registration"  class="btn btn-danger btn-lg btn-outline btn-rounded" ng-click="openForm(0)" ng-model="registration">Registration</button> <!--payment not done-->
	        	</td>

	        	<td>
	        		<button ng-show="payment1"  class="btn btn-success btn-lg btn-outline btn-rounded" ng-click="openPaymentForm(1)">Payment 1<span class="glyphicon glyphicon-ok" style="float:right; margin-left: 2px; color:white; font-size: 0.3em"></span></button>
	        		<button ng-hide="payment1"  class="btn btn-danger btn-lg btn-outline btn-rounded" ng-click="openForm(1)">Payment 1</button>
	        	</td>

		        <td>
		     		<button ng-show="payment2"  class="btn btn-success btn-lg btn-outline btn-rounded" ng-click="openPaymentForm(2)">Payment 2<span class="glyphicon glyphicon-ok" style="float:right; margin-left: 2px; color:white; font-size: 0.3em"></span></button>
		        	<button ng-hide="payment2"  class="btn btn-danger btn-lg btn-outline btn-rounded" ng-click="openForm(2)">Payment 2</button>
		        </td>

	        	<td>
	        		<button ng-show="payment3"  class="btn btn-success btn-lg btn-outline btn-rounded" ng-click="openPaymentForm(3)">Payment 3<span class="glyphicon glyphicon-ok" style="float:right; margin-left: 2px; color:white; font-size: 0.3em"></span></button>
	        		<button ng-hide="payment3"  class="btn btn-danger btn-lg btn-outline btn-rounded" ng-click="openForm(3)">Payment 3</button>
	        	</td>

		        <td>
		        	<button ng-show="payment4"  class="btn btn-success btn-lg btn-outline btn-rounded" ng-click="openPaymentForm(4)">Payment 4<span class="glyphicon glyphicon-ok" style="float:right; margin-left: 2px; color:white; font-size: 0.3em"></span></button>
		        	<button ng-hide="payment4"  class="btn btn-danger btn-lg btn-outline btn-rounded" ng-click="openForm(4)">Payment 4</button>
		        </td>

		        <td>
		        	<button ng-show="payment5"  class="btn btn-success btn-lg btn-outline btn-rounded" ng-click="openPaymentForm(5)">Payment 5<span class="glyphicon glyphicon-ok" style="float:right; margin-left: 2px; color:white; font-size: 0.3em"></span></button>
		        	<button ng-hide="payment5"  class="btn btn-danger btn-lg btn-outline btn-rounded" ng-click="openForm(5)">Payment 5</button>
		        </td>

		        <td>
		        	<button ng-show="payment6"  class="btn btn-success btn-lg btn-outline btn-rounded" ng-click="openPaymentForm(6)">Payment 6<span class="glyphicon glyphicon-ok" style="float:right; margin-left: 2px; color:white; font-size: 0.3em"></span></button>
		        	<button ng-hide="payment6"  class="btn btn-danger btn-lg btn-outline btn-rounded" ng-click="openForm(6)">Payment 6</button>
		        </td>
	        </tr>
	    </table>



                                
		<!---------------------------------------------------------------------->
		<!--Now mark the attendance-->
		<!---->

		<br/>

		<div ng-hide="markingAtt">
			<button ng-click="markAttendance()" class="btn btn-primary btn-lg btn-outline btn-rounded">Mark Attendance</button>
		</div>
		<div ng-show="markingAtt">
			Marking ...
		</div>

		
		<div ng-hide="viewingAtt">
			<button ng-click="viewAttendance()" class="btn btn-primary btn-lg btn-outline btn-rounded">View Attendance</button>
		</div>
		<div ng-show="viewingAtt">
			<button ng-click="" class="btn btn-primary btn-lg btn-outline btn-rounded">Hide Attendance</button><!--CODE THIS LATER-->
			<h2>Attendance Table for {{name}} ({{reg_no}})</h1>


			<table ng-table="AttTable" class="table table-bordered table-striped">
					<tr ng-repeat="att in $data track by $index"  > 
						<td data-title="'Registration Number'" sortable="'reg_no'">{{att.reg_no}}</td>
						<td data-title="'Attendance Date'" sortable="'date'">{{att.date | date:'mediumDate'}}</td> 
						<td data-title="'Batch'" sortable="'batch'">{{att.batch}}</td>
					</tr>
			</table>








		</div>

		

		<div id="formDiv">
		<!--we want login form to be shown after id is searched for-->
			<!-- Popup Div Starts Here -->
			<div id="popupLogin">
			<!-- Contact Us Form -->
				<form  id="form" method="post" name="form">
						<!--put a cross image for close-->
					<span id="closeForm" class="glyphicon glyphicon-remove-sign" ng-click="closeForm()"></span>
					<h3>Payment Form</h3>
					<hr id="loginLine">

					Payment type : <b>{{payment_type}}</b>

					<br/>


					<input id="amount" name="amount" placeholder="Payment amount (in LKR)" type="number" class="form-control" ng-model="amount" min="1000" max="100000" required><br/>
					<hr/>
					<h4>Login verification</h4>
					<input id="uname" name="uname" placeholder="User Name" type="text" class="form-control" ng-model="username" required><br/>
					<input id="password" name="password" placeholder="Password" type="password" class="form-control" ng-model="password" required><br/>
					<button id="submit"  class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="verifyPayment(username,password)">Make payment</button>
					
				</form>
			</div>	
			<!-- Popup Div Ends Here -->
		</div>


		<!--Form for displaying payment details -->
		<div id="paymentFormDiv">
			<div id="popupPayment">
				<form id="paymentForm" method="post" name="form">
					<span id="closeForm" class="glyphicon glyphicon-remove-sign" ng-click="closePaymentForm()"></span>
					<h3>Payment Details</h3>
					<hr/>
					<p>Payment Date : <b>{{displayPaymentDate | date:'mediumDate'}}</b></p>
					<p>Payment Type : <b>{{displayPaymentType}}</b></p>
					<p>Payment Amount : <b>{{displayPaymentAmount}}</b></p>
					<button id="submit"  class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="closePaymentForm()">OK</button>
				</form>
			</div>
			

		</div>



		<!---->
  


	</div>



</div><!---End of the container---->



</body>
</html>