/*----------------------------------------------
Custom Css file 
------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	font-family: Georgia, serif; 
}
p{
	font-family: Georgia, serif;
}
title {
	font-family: Georgia, serif;
}
#formDiv {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
#paymentFormDiv {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto;
}
span#closeForm {
position:absolute;
right:0px;
top:0px;
cursor:pointer;
font-size:30px;
color:red;
}

hr#loginLine {
margin:10px -50px;
border:0;
border-top:1px solid #ccc;
}

div#popupLogin {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family: Georgia, serif;
}

div#popupPayment {
	position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:Georgia, serif;
}

form {
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:Georgia, serif;
background-color:#fff
}


#uname {

background-repeat:no-repeat;
background-position:5px 7px
}
#password {
background-repeat:no-repeat;
background-position:5px 7px
}


